.text h1{
  font-size:30px;
  font-weight: bold;
}

.enrol{
  line-height:82px;
  font-size:18px;
}
.account-number,.account-password,.account-phone{
  margin-bottom:10px;
}
.account .error{
  font-size:12px;
  color:red;
  display:none;
}
.account .error.active{
  display:block;
}
#passStrength{height:6px;width:120px;border:1px solid #ccc;padding:2px;display:none;}
  .strengthLv1{background:red;height:6px;width:40px;}
  .strengthLv2{background:orange;height:6px;width:80px;}
  .strengthLv3{background:green;height:6px;width:120px;}
